/* Add application styles & imports to this file! */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

router-outlet + * {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1,
h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

mat-card {
  width: 100%;
}

mat-checkbox {
  padding-right: 10px;
}

mat-card-content div {
  display: inline-flex;
}

mat-card:hover {
  cursor: pointer;
}

.collapsible {
  overflow: hidden;
}

.icon-toggler {
  display: flex;
  justify-content: end;
  align-items: center;
}

.rotate {
  transform: rotate(90deg);
}
